@font-face {
  font-family: 'TTNorms-Regular';
  src: local('Lato'), url(./fonts/TTNorms-Regular.otf) format('opentype');
}

::-moz-selection {
  background-color: #fca118f8;
  color: #fff;
}
::selection {
  background-color: #fca118f8;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'TTNorms-Regular' -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
